<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="update-form" action="/flights/<% flight._id %>?_method=PUT" method="POST">
    <label for="airline-input">Airline:</label>
    <input type="text" name="airline" id="airline-input" value="<%= flight.airline %>">
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="<%= flight.airport %>"><%= flight.airport %></option>
      <option value="BOS">BOS</option>
      <option value="ATL">ATL</option>
      <option value="DEN">DEN</option>
      <option value="ORD">ORD</option>
      <option value="LAX">LAX</option>
      <option value="PHX">PHX</option>
    </select>
    <label for="flight-no-input">Flight Number:</label>
    <input type="number" name="flightNo" id="flight-no-input" value="<%= flight.flightNo %>">
    <label for="departs-input">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departs-input" value="<%= flight.departs %>">
    <button type="submit">Update Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>