<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs.toDateString() %> at <%= flight.departs.toISOString().slice(11, 16) %></div>
  </section>
  <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button id="edit-button">Edit Flight</button>
    </a>
    <br>
    <a href="/flights">
      <button id="go-back-button">Go back</button>
    </a>
  </div>
  <h2>Add a Ticket: </h2>
  <form 
    id="add-ticket-form" 
    action="/flights/<%= flight._id %>/tickets" 
    method="POST"
    autocomplete="off"
  >
    <label for="seat-input">Seat Number:</label>
    <input id="seat-input" type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price:</label>
    <input id="price-input" type="number" name="price">
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %> 
    <h3>No tickets have been added</h3>
  <% } %> 
</main>

<%- include('../partials/footer') %> 